
  body { font-family: "Source Sans Pro", sans-serif; }


  .navbar-inner .container { position: relative; }
  .navbar-inner form { position: absolute; right: 0; top: 5px; text-align: right; }

  .navbar .brand { display: inline-block; width: 188px; margin-right: 20px; height: 10px; position: relative; padding-top: 6px; }
  .brand img { position: absolute; }


  .city path { stroke: #e0e0e0; }

  /*
   # NT { fill*: #ffff00; }
   #SA { fill: #00ffff; }
   #Qld { fill: #cc00ff; }
   #Tas { fill: #ff0099; }
   #Vic { fill: #00ff00; }
   #ACT { fill: #0000ff; }
   #NSW { fill: #cc0099; }
   #WA { fill: #0000cc; }
   */

  .decile-0 { fill: rgb(247,251,255); background: rgb(247,251,255); }
  .decile-1 { fill: rgb(222,235,247); background: rgb(222,235,247); }
  .decile-2 { fill: rgb(198,219,239); background: rgb(198,219,239); }
  .decile-3 { fill: rgb(158,202,225); background: rgb(158,202,225); }
  .decile-4 { fill: rgb(107,174,214); background: rgb(107,174,214); }
  .decile-5 { fill: rgb(66,146,198); background: rgb(66,146,198); }
  .decile-6 { fill: rgb(33,113,181); background: rgb(33,113,181); }
  .decile-7 { fill: rgb(8,81,156); background: rgb(8,81,156); }
  .decile-8 { fill: rgb(8,48,107); background: rgb(8,48,107); }

  span.decile-6, span.decile-7, span.decile-8 { color: #fff; }

  .legend_block { display: inline-block; width: 60px; height: 20px; line-height: 20px; text-align: center; font-size: 11px; vertical-align: top; }
  a.active { font-weight: bold; }


#floating_description {
  position: absolute;
  top: 50px;
  left: 20px;
  background: #ccc;
  opacity: 0.9;
  padding: 10px;
  border-radius: 5px;
}

#legend {
  position: absolute;
  bottom: 70px;
  left: 20px;
  box-shadow: 0 2px 25px rgba(32,32,32,0.9);
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
